.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 25vw;
  height: calc((100vh - 15vh) / 2);
  margin: 0;
  padding: 0;
  position: relative;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.card:nth-child(4n) {
  border-right: none;
}
.image {
  justify-content: center;
  text-align: center;
  position: relative;
  height: 100%;
  border-bottom: 1px solid black;
}
.centered-image {
  padding: 1.5rem;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: zoom-in;
}
.enlarged {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  cursor: zoom-out;
}

.fadeIn {
  animation: fade-in 0.3s ease-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 1px solid black;
}
.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.price {
  display: flex;
  width: 100%;
  font-size: 1rem;
  border-bottom: 1px solid black;
}
.price h2 {
  width: 50%;
  padding: 1rem;
  font-size: inherit;
  border-right: 1px solid black;
}
.dropdown {
  width: 50%;
  float: right;
  background-color: red;
}
.dropdown select {
  width: 100%;
  height: 100%;
  border: none;
  font-family: inherit;
  background-color: #eee;
}
.category {
  padding: 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}
.category:hover {
  background-color: black;
  color: white;
}
.button {
  width: 50%;
  padding: 0.75rem 0;
  text-transform: uppercase;
  background: transparent;
  border: none;
  border-right: 1px solid black;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}
.button:hover {
  background: black;
  color: white;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


@media only screen and (max-width: 750px){
  .card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 50vw;
    height: calc((100vh - 15vh) / 2);
    margin: 0;
    padding: 0;
    position: relative;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
  .card:nth-child(2n) {
    border-right: none;
  }
  .button {
    width: 100%;
    border: none;
  }
}

@media only screen and (max-width: 400px){
  .card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100vw;
    height: calc((100vh - 15vh));
    margin: 0;
    padding: 0;
    position: relative;
    border: none;
    border-bottom: 1px solid black;
  }

  .button {
    width: 100%;
    border: none;
  }
}

@media only screen and (max-height: 750px){
  .card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: calc((100vh - 15vh));
    margin: 0;
    padding: 0;
    position: relative;
    border-bottom: 1px solid black;
    border-right: none;
  }
}